@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  @apply cursor-pointer;
}

@media (max-width: 768px) { 
  .hidden-on-small {
    display: none;
  }
}

body {
  @apply font-sans; /* This applies the default sans font (Roboto) */
  font-family: 'Google Sans', sans-serif;
  overflow-x: auto; 
}

.may-be-you-care {
  font-family: 'Google Sans', sans-serif;
}
